$clr-primary: #68AC45;
$clr-primary-light: #72bb4e;
$clr-secondary: #C7202D;
$clr-secondary-200: #b11623;
$clr-tertiary : rgba(162, 219, 199, .2);
$clr-secondary-light: #da934d;
$clr-secondary-dark: #a36f3a;
$clr-white: #fff;
$clr-dark-gray: #1a1616;

$loader-border-color: $clr-secondary;
$loader-bg-color: $clr-primary;
$loader-text-color: #fff;