.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    &__logo {
        width: 30rem;
    }
}

.navigation {
    font-weight: 600;
    margin-bottom: 0;
    display: flex;
    // justify-content: space-between;

    &__link {
        list-style-type: none;

        &:not(:last-child) {
            padding-right: 4rem;
        }
    }

    a {
        color: $clr-dark-gray;
        transition: 0.4s ease;

        &:hover {
            color: $clr-secondary;
        }
    }
}