@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");
.m-5 {
  margin: 5px;
}

.my-5 {
  margin: 5px 0;
}

@media only screen and (max-width: 991px) {
  .my-5 {
    padding: 2.5px 0;
  }
}

.mx-5 {
  margin: 0 5px;
}

@media only screen and (max-width: 991px) {
  .mx-5 {
    padding: 0 2.5px;
  }
}

.mt-5 {
  margin-top: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.p-5 {
  padding: 5px;
}

@media only screen and (max-width: 991px) {
  .p-5 {
    padding: 2.5px;
  }
}

.py-5 {
  padding: 5px 0;
}

.px-5 {
  padding: 0 5px;
}

.pt-5 {
  padding-top: 5px;
}

.pr-5 {
  padding-right: 5px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.m-10 {
  margin: 10px;
}

.my-10 {
  margin: 10px 0;
}

@media only screen and (max-width: 991px) {
  .my-10 {
    padding: 5px 0;
  }
}

.mx-10 {
  margin: 0 10px;
}

@media only screen and (max-width: 991px) {
  .mx-10 {
    padding: 0 5px;
  }
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.p-10 {
  padding: 10px;
}

@media only screen and (max-width: 991px) {
  .p-10 {
    padding: 5px;
  }
}

.py-10 {
  padding: 10px 0;
}

.px-10 {
  padding: 0 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.m-20 {
  margin: 20px;
}

.my-20 {
  margin: 20px 0;
}

@media only screen and (max-width: 991px) {
  .my-20 {
    padding: 10px 0;
  }
}

.mx-20 {
  margin: 0 20px;
}

@media only screen and (max-width: 991px) {
  .mx-20 {
    padding: 0 10px;
  }
}

.mt-20 {
  margin-top: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.p-20 {
  padding: 20px;
}

@media only screen and (max-width: 991px) {
  .p-20 {
    padding: 10px;
  }
}

.py-20 {
  padding: 20px 0;
}

.px-20 {
  padding: 0 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.m-30 {
  margin: 30px;
}

.my-30 {
  margin: 30px 0;
}

@media only screen and (max-width: 991px) {
  .my-30 {
    padding: 15px 0;
  }
}

.mx-30 {
  margin: 0 30px;
}

@media only screen and (max-width: 991px) {
  .mx-30 {
    padding: 0 15px;
  }
}

.mt-30 {
  margin-top: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.p-30 {
  padding: 30px;
}

@media only screen and (max-width: 991px) {
  .p-30 {
    padding: 15px;
  }
}

.py-30 {
  padding: 30px 0;
}

.px-30 {
  padding: 0 30px;
}

.pt-30 {
  padding-top: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pl-30 {
  padding-left: 30px;
}

.m-40 {
  margin: 40px;
}

.my-40 {
  margin: 40px 0;
}

@media only screen and (max-width: 991px) {
  .my-40 {
    padding: 20px 0;
  }
}

.mx-40 {
  margin: 0 40px;
}

@media only screen and (max-width: 991px) {
  .mx-40 {
    padding: 0 20px;
  }
}

.mt-40 {
  margin-top: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.p-40 {
  padding: 40px;
}

@media only screen and (max-width: 991px) {
  .p-40 {
    padding: 20px;
  }
}

.py-40 {
  padding: 40px 0;
}

.px-40 {
  padding: 0 40px;
}

.pt-40 {
  padding-top: 40px;
}

.pr-40 {
  padding-right: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pl-40 {
  padding-left: 40px;
}

.m-50 {
  margin: 50px;
}

.my-50 {
  margin: 50px 0;
}

@media only screen and (max-width: 991px) {
  .my-50 {
    padding: 25px 0;
  }
}

.mx-50 {
  margin: 0 50px;
}

@media only screen and (max-width: 991px) {
  .mx-50 {
    padding: 0 25px;
  }
}

.mt-50 {
  margin-top: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-50 {
  margin-left: 50px;
}

.p-50 {
  padding: 50px;
}

@media only screen and (max-width: 991px) {
  .p-50 {
    padding: 25px;
  }
}

.py-50 {
  padding: 50px 0;
}

.px-50 {
  padding: 0 50px;
}

.pt-50 {
  padding-top: 50px;
}

.pr-50 {
  padding-right: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pl-50 {
  padding-left: 50px;
}

.m-60 {
  margin: 60px;
}

.my-60 {
  margin: 60px 0;
}

@media only screen and (max-width: 991px) {
  .my-60 {
    padding: 30px 0;
  }
}

.mx-60 {
  margin: 0 60px;
}

@media only screen and (max-width: 991px) {
  .mx-60 {
    padding: 0 30px;
  }
}

.mt-60 {
  margin-top: 60px;
}

.mr-60 {
  margin-right: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.ml-60 {
  margin-left: 60px;
}

.p-60 {
  padding: 60px;
}

@media only screen and (max-width: 991px) {
  .p-60 {
    padding: 30px;
  }
}

.py-60 {
  padding: 60px 0;
}

.px-60 {
  padding: 0 60px;
}

.pt-60 {
  padding-top: 60px;
}

.pr-60 {
  padding-right: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pl-60 {
  padding-left: 60px;
}

.m-70 {
  margin: 70px;
}

.my-70 {
  margin: 70px 0;
}

@media only screen and (max-width: 991px) {
  .my-70 {
    padding: 35px 0;
  }
}

.mx-70 {
  margin: 0 70px;
}

@media only screen and (max-width: 991px) {
  .mx-70 {
    padding: 0 35px;
  }
}

.mt-70 {
  margin-top: 70px;
}

.mr-70 {
  margin-right: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.ml-70 {
  margin-left: 70px;
}

.p-70 {
  padding: 70px;
}

@media only screen and (max-width: 991px) {
  .p-70 {
    padding: 35px;
  }
}

.py-70 {
  padding: 70px 0;
}

.px-70 {
  padding: 0 70px;
}

.pt-70 {
  padding-top: 70px;
}

.pr-70 {
  padding-right: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pl-70 {
  padding-left: 70px;
}

.m-80 {
  margin: 80px;
}

.my-80 {
  margin: 80px 0;
}

@media only screen and (max-width: 991px) {
  .my-80 {
    padding: 40px 0;
  }
}

.mx-80 {
  margin: 0 80px;
}

@media only screen and (max-width: 991px) {
  .mx-80 {
    padding: 0 40px;
  }
}

.mt-80 {
  margin-top: 80px;
}

.mr-80 {
  margin-right: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.ml-80 {
  margin-left: 80px;
}

.p-80 {
  padding: 80px;
}

@media only screen and (max-width: 991px) {
  .p-80 {
    padding: 40px;
  }
}

.py-80 {
  padding: 80px 0;
}

.px-80 {
  padding: 0 80px;
}

.pt-80 {
  padding-top: 80px;
}

.pr-80 {
  padding-right: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pl-80 {
  padding-left: 80px;
}

.m-90 {
  margin: 90px;
}

.my-90 {
  margin: 90px 0;
}

@media only screen and (max-width: 991px) {
  .my-90 {
    padding: 45px 0;
  }
}

.mx-90 {
  margin: 0 90px;
}

@media only screen and (max-width: 991px) {
  .mx-90 {
    padding: 0 45px;
  }
}

.mt-90 {
  margin-top: 90px;
}

.mr-90 {
  margin-right: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.ml-90 {
  margin-left: 90px;
}

.p-90 {
  padding: 90px;
}

@media only screen and (max-width: 991px) {
  .p-90 {
    padding: 45px;
  }
}

.py-90 {
  padding: 90px 0;
}

.px-90 {
  padding: 0 90px;
}

.pt-90 {
  padding-top: 90px;
}

.pr-90 {
  padding-right: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pl-90 {
  padding-left: 90px;
}

.m-100 {
  margin: 100px;
}

.my-100 {
  margin: 100px 0;
}

@media only screen and (max-width: 991px) {
  .my-100 {
    padding: 50px 0;
  }
}

.mx-100 {
  margin: 0 100px;
}

@media only screen and (max-width: 991px) {
  .mx-100 {
    padding: 0 50px;
  }
}

.mt-100 {
  margin-top: 100px;
}

.mr-100 {
  margin-right: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ml-100 {
  margin-left: 100px;
}

.p-100 {
  padding: 100px;
}

@media only screen and (max-width: 991px) {
  .p-100 {
    padding: 50px;
  }
}

.py-100 {
  padding: 100px 0;
}

.px-100 {
  padding: 0 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pr-100 {
  padding-right: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pl-100 {
  padding-left: 100px;
}

.divider-10 {
  height: 10px;
  clear: both;
}

.divider-15 {
  height: 15px;
  clear: both;
}

.divider-20 {
  height: 20px;
  clear: both;
}

.divider-30 {
  height: 30px;
  clear: both;
}

.divider-40 {
  height: 40px;
  clear: both;
}

.divider-50 {
  height: 50px;
  clear: both;
}

.divider-60 {
  height: 60px;
  clear: both;
}

.divider-70 {
  height: 70px;
  clear: both;
}

.divider-80 {
  height: 80px;
  clear: both;
}

.divider-90 {
  height: 90px;
  clear: both;
}

.divider-100 {
  height: 100px;
  clear: both;
}

.clr-primary {
  color: #68AC45;
}

.clr-secondary {
  color: #C7202D;
}

.bg-primry {
  background-color: #68AC45;
  color: #fff;
}

.uppercase {
  text-transform: uppercase;
}

.fw-600 {
  font-weight: 600;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 991px) {
  html {
    font-size: 50%;
  }
}

body {
  background-color: #fff;
  color: #222;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.8;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1400px;
  padding: 0 4rem;
  margin: 0 auto;
}

section {
  padding: 5rem 0;
}

a {
  text-decoration: none;
}

.w-80 {
  width: 80%;
  margin: 0 auto;
}

.hero {
  height: 80vh;
  overflow: hidden;
  background-color: rgba(162, 219, 199, 0.2);
  position: relative;
  z-index: -2;
}

.hero__box {
  position: relative;
}

.hero__img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -22%;
  z-index: -1;
}

.hero__display {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  mix-blend-mode: multiply;
}

.pre-heading {
  font-size: 1.8rem;
  line-height: 1.2;
  color: #68AC45;
}

.hero-heading {
  font-size: 7.6rem;
  line-height: 1.2;
  font-weight: 600;
  position: relative;
}

.hero-heading::before, .hero-heading::after {
  content: '';
  height: 1rem;
  position: absolute;
  bottom: -2rem;
}

.hero-heading::before {
  left: 0;
  right: 95%;
  background-color: #68AC45;
}

.hero-heading::after {
  right: 46%;
  left: 7%;
  background-color: #C7202D;
}

.heading {
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: 600;
  padding: 2rem 0;
}

.about__img {
  width: 30.83rem;
  height: 38rem;
  margin-left: 2rem;
  margin-top: 2rem;
  position: relative;
}

.about__img::before {
  content: '';
  border: 0.5rem solid #68AC45;
  position: absolute;
  top: -2rem;
  left: -2rem;
  right: 2rem;
  bottom: 1rem;
  z-index: -10;
}

.catalog {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(162, 219, 199, 0.2);
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-bottom: 1.5rem;
  position: relative;
  z-index: 1;
}

.catalog::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.6);
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.action__img {
  background-color: rgba(162, 219, 199, 0.2);
}

.location__card {
  border-bottom: 2px solid #68AC45;
  margin-bottom: 2rem;
}

.location__marker {
  width: 6rem;
}

.location__display {
  margin-left: 1rem;
}

.location__counter {
  min-width: 10rem;
  font-size: 5rem;
  line-height: 1;
  font-weight: 600;
  text-align: center;
  background-color: #68AC45;
  color: #fff;
  padding: 1rem;
}

.location__name {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1;
}

.location__addres {
  font-size: 1.4rem;
}

.contact-info {
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  line-height: 1.5;
  margin-top: 1rem;
}

.contact-info a {
  color: #C7202D;
}

.contact-info a:hover {
  color: #68AC45;
}

.contact-icon {
  color: #C7202D;
  font-size: 30px;
}

.btn-primary, .btn-secondary, .btn-third {
  display: inline-block;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 3.2rem;
  margin: 3px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: .6s;
  transition: .6s;
}

@media only screen and (max-width: 991px) {
  .btn-primary, .btn-secondary, .btn-third {
    font-size: 1.2rem;
    padding: 0.6rem 2.2rem;
  }
}

.btn-nav {
  display: inline-block;
  font-size: 1.4rem;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  padding: .5rem 2.5rem;
  background-color: #68AC45;
  color: #fff;
  -webkit-transition: .6s;
  transition: .6s;
}

.btn-nav:hover {
  background-color: #68AC45;
}

.btn-nav__icon {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: 1rem;
}

.btn-modal {
  display: inline-block;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  padding: .5rem 1rem;
  background-color: #fff;
  color: #222;
  -webkit-transition: .6s;
  transition: .6s;
}

.btn-modal:hover {
  background-color: #C7202D;
  color: #fff;
}

.btn-modal__icon {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: 1rem;
}

.btn-primary {
  background-color: #68AC45;
  color: #fff;
}

.btn-primary:hover {
  background-color: #72bb4e;
}

.btn-secondary {
  background-color: #C7202D;
  color: #fff;
}

.btn-third {
  background-color: rgba(162, 219, 199, 0.2);
  color: #222;
}

.btn-third:hover {
  background-color: rgba(162, 219, 199, 0.2);
}

@media only screen and (max-width: 767px) {
  .card-box:not(:last-child) {
    margin-bottom: 6rem;
  }
}

.card-promo {
  -webkit-box-shadow: 2px 8px 10px 0px rgba(92, 104, 152, 0.1);
          box-shadow: 2px 8px 10px 0px rgba(92, 104, 152, 0.1);
  padding: 3rem;
  padding-bottom: 10rem;
  position: relative;
}

.card-promo .btn-third {
  position: absolute;
  bottom: 40px;
  right: calc(50% - 7.5rem);
  bottom: 20px;
  width: 15rem;
}

@media only screen and (max-width: 991px) {
  .card-promo .btn-third {
    width: 12rem;
    right: calc(50% - 6rem);
  }
}

.card-primary {
  margin-bottom: 6rem;
}

.card-primary__icon-box {
  width: 6rem;
  height: 5rem;
}

@media only screen and (max-width: 991px) {
  .card-primary__icon-box {
    width: 4.5rem;
    height: 3.5rem;
  }
}

.card-primary__icon {
  height: 100%;
}

@media only screen and (max-width: 1200px) {
  .card-primary {
    margin-bottom: 2rem;
  }
}

.card-secondary {
  -webkit-box-shadow: 2px 8px 10px 0px rgba(92, 104, 152, 0.1);
          box-shadow: 2px 8px 10px 0px rgba(92, 104, 152, 0.1);
  position: relative;
  padding-bottom: 1rem;
}

.card-secondary .pre-heading {
  background-color: #68AC45;
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 2rem;
  padding: .3rem .5rem;
  border-radius: 2px;
}

@media only screen and (max-width: 767px) {
  .card-secondary .pre-heading {
    font-size: 1rem;
  }
}

.card-secondary__details {
  padding: 2rem 3rem;
}

.card-secondary__shape {
  width: 100%;
  overflow: hidden;
}

.card-secondary__img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 54%;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  cursor: pointer;
}

.card-secondary__img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card-secondary__title {
  font-size: clamp(1.8rem, 2vw, 2rem);
  line-height: 1;
  font-weight: 600;
  color: #68AC45;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.card-secondary__title:hover {
  color: #68AC45;
}

.card-secondary__link {
  font-size: 1.4rem;
  color: #999;
}

.form-box {
  padding: 6rem;
  width: 80%;
  -webkit-box-shadow: 0 8px 20px 8px rgba(92, 104, 152, 0.1);
          box-shadow: 0 8px 20px 8px rgba(92, 104, 152, 0.1);
}

@media only screen and (max-width: 991px) {
  .form-box {
    width: 100%;
    padding: 2rem;
  }
}

form .form-control {
  background-color: rgba(162, 219, 199, 0.2);
  border: none;
  padding: 2rem;
  color: #68AC45;
  font-size: 1.4rem;
}

form .form-control:focus {
  outline: none;
}

.form-help-block {
  color: #C7202D;
  font-size: 1.2rem;
  font-weight: 600;
}

[type="text"]::-webkit-input-placeholder {
  color: #da934d;
  opacity: .5;
}

[type="email"]::-webkit-input-placeholder {
  color: #da934d;
  opacity: .5;
}

[type="text"]:-ms-input-placeholder {
  color: #da934d;
  opacity: .5;
}

[type="email"]:-ms-input-placeholder {
  color: #da934d;
  opacity: .5;
}

[type="text"]::-ms-input-placeholder {
  color: #da934d;
  opacity: .5;
}

[type="email"]::-ms-input-placeholder {
  color: #da934d;
  opacity: .5;
}

[type="text"]::-webkit-input-placeholder {
  color: #da934d;
  opacity: .5;
}

[type="text"]:-ms-input-placeholder {
  color: #da934d;
  opacity: .5;
}

[type="text"]::-ms-input-placeholder {
  color: #da934d;
  opacity: .5;
}

[type="text"]::placeholder {
  color: #da934d;
  opacity: .5;
}

[type="email"]::-webkit-input-placeholder {
  color: #da934d;
  opacity: .5;
}

[type="email"]:-ms-input-placeholder {
  color: #da934d;
  opacity: .5;
}

[type="email"]::-ms-input-placeholder {
  color: #da934d;
  opacity: .5;
}

[type="email"]::placeholder {
  color: #da934d;
  opacity: .5;
}

.sidebar-btn-menu {
  position: absolute;
  right: 4rem;
  top: 3rem;
}

#sidebar {
  color: #68AC45;
  right: 2rem;
  background-color: #fff;
  color: #222;
}

#sidebar #dismiss {
  background-color: #68AC45;
  color: #fff;
}

#sidebar .sidebar-header {
  background-color: #fff;
  border-bottom: 0.5rem solid #C7202D;
}

#sidebar .sidebar-header .logo {
  width: 12rem;
}

#sidebar ul li:not(:last-child) {
  border-bottom: 1px solid #C7202D;
}

#sidebar ul li a {
  font-size: 1.6rem;
  color: #68AC45;
  padding: 1rem;
}

#sidebar ul li a:hover {
  color: #C7202D;
}

.slider {
  color: #fff;
  height: 60vh;
}

@media only screen and (max-width: 1200px) {
  .slider {
    height: 50vh;
  }
}

.slider__item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 6rem 0;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}

@media only screen and (max-width: 1200px) {
  .slider__item {
    height: 50vh;
  }
}

.slider__item::before {
  content: '';
  background-color: #68AC45;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: .6;
}

.display {
  width: 40%;
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 1200px) {
  .display {
    width: 100%;
  }
}

/**
* loader
*/
/** Page Loader ***************************************************************/
.page-loader {
  z-index: 99999999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(104, 172, 69, 0.9);
  overflow: hidden;
  text-align: center;
}

.page-loader p {
  font-size: 16px !important;
  margin-top: 10px;
  font-weight: 500;
  color: #fff;
}

.page-loader .loader {
  position: relative;
  top: calc(50% - 30px);
}

.preloader {
  display: inline-block;
  position: relative;
  width: 75px;
  height: 75px;
  -webkit-animation: container-rotate 1568ms linear infinite;
  animation: container-rotate 1568ms linear infinite;
}

.spinner-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  border-color: #C7202D;
  -ms-opacity: 1;
  opacity: 1;
  -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.circle-clipper.right {
  float: right !important;
}

.gap-patch {
  position: absolute;
  top: 0;
  left: 45%;
  width: 10%;
  height: 100%;
  overflow: hidden;
  border-color: inherit;
}

.gap-patch.circle {
  width: 1000%;
  left: -450%;
}

.circle-clipper {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-color: inherit;
}

.circle-clipper .circle {
  width: 200%;
  height: 100%;
  border-width: 3px;
  border-style: solid;
  border-color: inherit;
  border-bottom-color: transparent !important;
  border-radius: 50%;
  -webkit-animation: none;
  animation: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.circle-clipper.left .circle {
  left: 0;
  border-right-color: transparent !important;
  -webkit-transform: rotate(129deg);
  transform: rotate(129deg);
  -webkit-animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.circle-clipper.right .circle {
  left: -100%;
  border-left-color: transparent !important;
  -webkit-transform: rotate(-129deg);
  transform: rotate(-129deg);
  -webkit-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

@-webkit-keyframes container-rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes container-rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fill-unfill-rotate {
  12.5% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

@keyframes fill-unfill-rotate {
  12.5% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
            transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
            transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
            transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
            transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
  }
}

@-webkit-keyframes left-spin {
  from {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}

@keyframes left-spin {
  from {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}

@-webkit-keyframes right-spin {
  from {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}

@keyframes right-spin {
  from {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}

.page-loader {
  display: none;
}

.modal-content {
  border: 0;
  border-radius: 0;
}

.modal-header {
  padding: 1.4rem 2rem !important;
}

.modal-title {
  font-size: 1.8rem !important;
  text-transform: uppercase !important;
  color: #444;
}

.modal-body {
  padding: 1.4rem 2rem !important;
  font-size: clamp(1.4rem, 2vw, 1.4rem);
}

.btn-modal {
  display: inline-block;
  font-size: 1.4rem !important;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  padding: .5rem 1rem !important;
  background-color: #f0f1f1 !important;
  color: #555 !important;
  -webkit-transition: .6s;
  transition: .6s;
}

.btn-modal:hover {
  background-color: #e7e7e7 !important;
}

.scroll-top {
  width: 5rem;
  height: 5rem;
  padding: 10px 16px;
  border-radius: 5px;
  font-size: 24px;
  line-height: 1.33;
  background-color: #C7202D;
  color: #fff;
  margin-left: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99999;
  text-align: center;
}

.scroll-top:hover {
  text-decoration: none;
}

.scroll-top i {
  color: #fff;
  font-size: 24px;
  line-height: 40px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

.header__logo {
  width: 30rem;
}

.navigation {
  font-weight: 600;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__link {
  list-style-type: none;
}

.navigation__link:not(:last-child) {
  padding-right: 4rem;
}

.navigation a {
  color: #1a1616;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.navigation a:hover {
  color: #C7202D;
}

.footer {
  background-color: #1a1616;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.5;
  padding: 4rem 0;
}

.footer__logo {
  width: 15rem;
  margin-bottom: 2rem;
}

.footer__section {
  padding-left: 3rem;
}

@media only screen and (max-width: 991px) {
  .footer__section {
    margin-bottom: 2rem;
    padding-left: 0;
  }
}

.footer__title {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.footer a {
  display: block;
  color: #fff;
  font-weight: 600;
  -webkit-transition: .6s;
  transition: .6s;
  padding: .5rem 0;
}

.footer a:hover {
  color: #C7202D;
}

.footer p {
  padding: .5rem 0;
}

.footer span {
  font-weight: 700;
}

.footer i {
  color: #C7202D;
  -webkit-transition: .4s;
  transition: .4s;
}

.footer i:hover {
  color: #b11623;
}

a.footer-mail {
  display: inline;
  font-weight: 400;
}

a.footer-mail:hover {
  color: #C7202D;
}

.signature {
  padding-top: 4rem;
  margin-top: 3rem;
  font-size: 1.3rem;
  border-top: 1px solid #fff;
}
